.form-select {
    text-align: right;
}

.custom-form-mortgage {
    background-color: rgba(73, 117, 118, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.custom-btn-mortgage{
    background-color: rgba(73, 117, 118, 1.0);
    border-color: rgba(73, 117, 118, 1.0);
}

.custom-btn-mortgage:hover{
    background-color: rgba(73, 117, 118, 0.5);
    border-color: rgba(73, 117, 118, 0.5);
}

.custom-btn-mortgage:disabled{
    background-color: rgba(73, 117, 118, 0.5);
    border-color: rgba(73, 117, 118, 0.5);
}