@media (min-width: 990px) {
    .custom-form-loan {
        background-color: rgba(73, 117, 118, 0.2); /* Change this to your desired color */
        border-radius: 10px; /* Adjust this to your desired radius */
        padding: 20px; /* Optional: Add some padding inside the form */
        width: 90%; /* Adjust this to your desired width */
        margin: 0 auto; /* This will center the form */
    }
}

.custom-form-loan {
    background-color: rgba(73, 117, 118, 0.2); /* Change this to your desired color */
    border-radius: 10px; /* Adjust this to your desired radius */
    padding: 20px; /* Optional: Add some padding inside the form */
    margin: 0 auto; /* This will center the form */
}

.custom-btn-single-loan{
    background-color: rgba(73, 117, 118, 1.0);
    border-color: rgba(73, 117, 118, 1.0);
}

.custom-btn-single-loan:hover{
    background-color: rgba(73, 117, 118, 0.5);
    border-color: rgba(73, 117, 118, 0.5);
}

.custom-btn-single-loan:disabled{
    background-color: rgba(73, 117, 118, 0.5);
    border-color: rgba(73, 117, 118, 0.5);
}