@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.signup-wrapper {
    background-color: #ffffff;
    width: 450px;
    height: 610px;
    position: relative;
    border: 2px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}
.signup-wrapper .form-box {
    width: 100%;
    padding: 30px;
}
.form-box h1 {
    font-size: 1.5em;
    text-align: center;
    color: #333; /* Dark text color */
    margin: 10px;
}
.input-box {
    position: relative;
    width: 95%;
    height: 50px;
    border-bottom: 2px solid;
    margin: 30px 0;
}
.input-box label {
    direction: rtl;
    position: absolute;
    top: 50%;
    right: 0; /* Adjust the left position based on your needs */
    transform: translateY(-30%);
    font-size: 1em;
    font-weight: 600;
    pointer-events: none;
    color: black;
    transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -3px;
}
.custom-input:focus {
    border-color: initial; /* or any other desired color or 'initial' to remove it */
    box-shadow: none; /* Remove box shadow if present */
}
.input-box input {
    direction: rtl;
    width: calc(100%); /* Adjust width to accommodate the icon */
    height: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    padding: 0 0 0 65px; /* Adjust padding to create space for the icon */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.input-box .icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    line-height: 57px;
}
.form-group {
    color: black;
}
.btn-login {
    width: 90%;
    height: 40px;
    background-color: rgba(73, 117, 118, 1.0);
    border-color: rgba(73, 117, 118, 1.0);
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: auto;

    cursor: pointer;
}
.btn-login:hover {
    background-color: rgba(73, 117, 118, 0.5);
    border-color: rgba(73, 117, 118, 0.5);
}
.endForm-div {
    font-size: 1em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 30px 0 10px;
}
.endForm-div p a {
    text-decoration: none;
    font-weight: 600;
    color: rgba(73, 117, 118, 1.0);
}
.endForm-div p a:hover {
    text-decoration: underline;
}